
GreenScreen/opencv_world420d.dll
x64/Debug/opencv_world420d.dll
GreenScreen.sln
.vs/GreenScreen/v16/.suo
.vs/GreenScreen/v16/Browse.VC.db
.vs/GreenScreen/v16/ipch/AutoPCH/97b7b93692c00809/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/c7f2b712113ef22d/SHADERUTIL.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/e582a72787782eb3/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/f660c9839aea9352/SHADERUTIL.ipch
GreenScreen/x64/Release/GreenScreen.iobj
GreenScreen/x64/Release/GreenScreen.ipdb
GreenScreen/x64/Release/GreenScreen.log
GreenScreen/x64/Release/GreenScreen.obj
GreenScreen/x64/Release/GreenScreen.tlog/link.read.1.tlog
GreenScreen/x64/Release/GreenScreen.tlog/link.write.1.tlog
GreenScreen/x64/Release/vc142.pdb
x64/Release/GreenScreen.pdb
.vs/GreenScreen/v16/.suo
.vs/GreenScreen/v16/Browse.VC.db
.vs/GreenScreen/v16/ipch/AutoPCH/e582a72787782eb3/GREENSCREEN.ipch
GreenScreen/x64/Release/GreenScreen.iobj
GreenScreen/x64/Release/GreenScreen.ipdb
GreenScreen/x64/Release/GreenScreen.log
GreenScreen/x64/Release/GreenScreen.obj
GreenScreen/x64/Release/GreenScreen.tlog/link.read.1.tlog
GreenScreen/x64/Release/GreenScreen.tlog/link.write.1.tlog
GreenScreen/x64/Release/vc142.pdb
x64/Release/GreenScreen.pdb
.vs/GreenScreen/v16/.suo
