
GreenScreen/opencv_world420d.dll
x64/Debug/opencv_world420d.dll
GreenScreen.sln
.vs/GreenScreen/v16/.suo
.vs/GreenScreen/v16/Browse.VC.db
.vs/GreenScreen/v16/ipch/AutoPCH/97b7b93692c00809/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/c7f2b712113ef22d/SHADERUTIL.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/e582a72787782eb3/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/f660c9839aea9352/SHADERUTIL.ipch
GreenScreen/x64/Release/GreenScreen.iobj
GreenScreen/x64/Release/GreenScreen.ipdb
GreenScreen/x64/Release/GreenScreen.log
GreenScreen/x64/Release/GreenScreen.obj
GreenScreen/x64/Release/GreenScreen.tlog/link.read.1.tlog
GreenScreen/x64/Release/GreenScreen.tlog/link.write.1.tlog
GreenScreen/x64/Release/vc142.pdb
x64/Release/GreenScreen.pdb
.vs/GreenScreen/v16/.suo
.vs/GreenScreen/v16/Browse.VC.db
.vs/GreenScreen/v16/ipch/AutoPCH/e582a72787782eb3/GREENSCREEN.ipch
GreenScreen/x64/Release/GreenScreen.iobj
GreenScreen/x64/Release/GreenScreen.ipdb
GreenScreen/x64/Release/GreenScreen.log
GreenScreen/x64/Release/GreenScreen.obj
GreenScreen/x64/Release/GreenScreen.tlog/link.read.1.tlog
GreenScreen/x64/Release/GreenScreen.tlog/link.write.1.tlog
GreenScreen/x64/Release/vc142.pdb
x64/Release/GreenScreen.pdb
.vs/GreenScreen/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GreenScreen/v16/ipch/AutoPCH/288df7a88803749a/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/72e470926aaf0407/SHADERUTIL.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/a7c5575bd8cea13/GREENSCREEN.ipch
.vs/GreenScreen/v16/ipch/AutoPCH/bc7c41b6bd37f304/SHADERUTIL.ipch
GreenScreen/kolory.png
GreenScreen/x64/Debug/opencv_world420d.dll
GreenScreen/x64/Debug/ShaderUtil.obj
.vs/GreenScreen/v16/Browse.VC.db-shm
.vs/GreenScreen/v16/Browse.VC.db-wal
.vs/GreenScreen/v16/Browse.VC.opendb
